.container{
    background: url(https://images.pexels.com/photos/1850600/pexels-photo-1850600.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center/cover;
    color: azure;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .loading{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #42476992;
    }
    .innerContainer{
        display: flex;
        width: 50%;
        height: fit-content;
        background: #1f1414a2;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 20px;
        align-items: center;
        justify-content: center;
        border: 2px solid azure;
        border-radius: 10px;
        // gap: 20px;
        form{
            width: 80%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 20px;

            button{
                padding: 10px;
                border: 2px solid transparent;
                border-radius: 5px;
            }

            input{
                background: transparent;
                padding: 10px 0;
                border: none;
                border-bottom: 2px solid azure;
                outline: none;
                color: azure;
                font-size: 1rem;
            }
            ::placeholder{
                font-size: 1rem;
                color: azure;
            }
            label{
                cursor: pointer;
                .imageFile{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    gap: 10px;
                    user-select: none;
                    -webkit-user-drag: none;
                    -webkit-user-select: none;
                    .addImage{
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}